@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    
</style>

<div>
    <h1>Capital City .NET Users Group - SignalR edition</h1>

    <ul>
        <li>@Html.ActionLink("Chat Room", "ChatRoom")</li>
        <li>@Html.ActionLink("Stock Quotes", "StockQuotes")</li>
        <li>@Html.ActionLink("Tic Tac Toe", "TicTacToe")</li>
        <li>Canvas</li>
        <li>Live Document</li>
        <li></li>
    </ul>
</div>
